TR.ETEST {background:lightblue; font-size:150%;}

TD.GENERATOR {background:pink;}
TH.GENERATOR {background:pink;}

TH.TEST1{background:#9FFFAC;}

TH.BRt1g0{background:#DFFFE3; font-size:80%;}
TH.BRt1g1{background:#BFFFC8; font-size:80%;}
TH.SDPt1g0{background:#DFFFE3; font-size:80%;}
TH.SDPt1g1{background:#BFFFC8; font-size:80%;}

TD.BRt1g0{background:#DFFFE3; font-size:80%;}
TD.BRt1g1{background:#BFFFC8; font-size:80%;}
TD.SDPt1g0{background:#DFFFE3; font-size:80%;}
TD.SDPt1g1{background:#BFFFC8; font-size:80%;}



TH.TEST2{background:#F2FF3C;}

TH.BRt2g0{background:#FDFFDF; font-size:80%;}
TH.BRt2g1{background:#FBFFBF; font-size:80%;}
TH.BRt2g2{background:#F6FF7F; font-size:80%;}

TH.SDPt2g0{background:#FDFFDF; font-size:80%;}
TH.SDPt2g1{background:#FBFFBF; font-size:80%;}
TH.SDPt2g2{background:#F6FF7F; font-size:80%;}

TD.BRt2g0{background:#FDFFDF; font-size:80%;}
TD.BRt2g1{background:#FBFFBF; font-size:80%;}
TD.BRt2g2{background:#F6FF7F; font-size:80%;}


TD.SDPt2g0{background:#FDFFDF; font-size:80%;}
TD.SDPt2g1{background:#FBFFBF; font-size:80%;}
TD.SDPt2g2{background:#F6FF7F; font-size:80%;}

TH.T1t1{background:#BFFFFF;}
TD.T1t1{background:#BFFFFF;}
TH.T1t2{background:#FFC37F;}
TD.T1t2{background:#FFC37F;}
TH.T2t1{background:#D7FFFF;}
TD.T2t1{background:#D7FFFF;}
TH.T2t2{background:#FFECD7;}
TD.T2t2{background:#FFECD7;}

TD.BOOKLET1{background:#9FFFAC;}
TD.BOOKLET2{background:#F2FF3C;}

TH.BOOKLET1{background:#9FFFAC;}
TH.BOOKLET2{background:#F2FF3C;}

LI.SECTION_HEADER{font-size:150%;}