H1.TITLE {font-size:150%; color: navy}
H2.SECTION{font-size:130%; color: #AA0000}
DIV.TEMPORARY {color:red; font-size:75%;font-style:italic;font-weight:bold;text-align:right;background:#EEEEEE}
DIV.PHCORK { font-family:monospace; font-weight:bold;font-size:100%}
DIV.PHCORKDESC { font-size:120%; font-style:italic; color: #005555;}